<style>
    a{
        height: 50px;
        line-height: 50px;
        background-color: #ffffff65;
        text-align: center;
        margin-bottom: .5rem;
        margin-top: .5rem;
        color: black;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<div id="homepage">

  <div style="width: 100%;height: fit-content; display: flex;justify-content: center;">
    <div
      style="display: flex; width: 90%;height: 500px;background-color: #ffffff2f;flex-direction: column;border-radius: 25px;padding: 25px;"
    >
      <h3 align="center">ÔN TẬP TƯ TƯỞNG HỒ CHÍ MINH</h3>
      <a href="https://drive.google.com/file/d/1TGf7tJYwwXL12yyHX8TMuFcnIvgUhe2i/view?usp=drive_link">TÀI LIỆU TỔNG HỢP</a>
      <a href="/chuong1">TRẮC NGHIỆM CHƯƠNG 1 (10 câu)</a>
    <a href="/chuong2">TRẮC NGHIỆM CHƯƠNG 2 (51 câu)</a>
    </div>
  </div>

</div>